http:
  routers:
    grafana:
      rule: "Host(`grafana.brendanbank.com`)"
      service: grafana-service
      entryPoints:
        - websecure
      tls:
        certResolver: myresolver
      middlewares:
        - grafana-headers

  middlewares:
    grafana-headers:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "grafana.brendanbank.com"

  services:
    grafana-service:
      loadBalancer:
        servers:
          - url: "https://srv6.bgwlan.nl:3000"
        passHostHeader: true
        # Disable SSL verification - backend uses invalid/self-signed certificate
        serverTransport:
          insecureSkipVerify: true
        # Increase timeouts
        responseForwarding:
          flushInterval: 100ms

