{% extends 'filters.html' %}

{% block head_row %}

    <div class="col-6 text-end align-self-center">
        <h3 class="">{{page_name}}</h3>

     </div>
    <div class="col-6 align-self-center">

     <a
          name="submit_id"
          id="submit_id"
          class="btn btn-outline-dark btn-sm "
          style=""
          href="{{url_for('training_bp.edit_training')}}"
          value="create"
     >{{_("Create New Training")}}</a>
    </div>
{% endblock %}


{% block searchbox %}

<span class="col-lg-12 mt-2"><strong>{{_('Training Search')}}</strong></span>
<div class="">
     <select  class="col-12" id="training_search" class="training_search"></select>
</div>

{% endblock %}

{% block data_headers %}
               <div class="col-3 fw-semibold">{{_('Name')}}</div>
                    <div class="col-1 fw-semibold"></div>
               <div class="col-3 fw-semibold ps-0">{{_('Date')}}</div>
               <div class="col-1 fw-semibold ps-0">{{_('Spots')}} <i class="text-primary fs-6 bi bi-question" 
                                                            data-toggle="tooltip" 
                                                            data-placement="top" 
                                                            title="{{_('participants max/current/wait list') }}"></i></div>
               <div class="col-4 fw-semibold ps-0">{{_('Trainers')}}</div>
{% endblock %}
               
{% block data_rows %}
          
          {% for training in trainings -%}
               <div class="highlight {% if training.active %}{{ loop.cycle('evendiv', 'odddiv')}}{% else %}div_red{% endif %} p-0 m-0" >
               <div class="row highlight" >
               
               <span class="{{show_mobile}} border-top border-dark-subtle"></span>
               
               <div class="col-lg-3 pt-1 ps-1 pe-0 align-self-center " >
               
                    <span class="{{show_mobile}} h2">{{ training.name }}</span>
                    <span class="{{hide_mobile}}">{{ training.name }}</span></div>
               <div class="col-lg-1 align-self-center pt-1 ps-1 pe-0">
                    <a class=" icon-link link-body-emphasis"
                         href="{{url_for('training_bp.training_detail', id=training.id)}}"> 
                         <i class="bi bi-people-fill" data-toggle="tooltip" data-placement="top" 
                                                            title="{{_('Show Attendee List') }}"></i>
                         <span class="mt-1 {{show_mobile}} fw-semibold small"> {{_("Show attendees") }} </span>
                     </a>

                    
                    <a class="icon-link link-body-emphasis "
                         href="{{url_for('training_bp.edit_training', id=training.id)}}"> 
                         <i class="bi bi-pencil-fill"
                              data-toggle="tooltip" data-placement="top" 
                                                            title="{{_('Edit Training') }}"></i>
                         <span class="mt-1 {{show_mobile}} fw-semibold small"> {{_("Edit Training") }} </span>
                     </a>
                   <a class="icon-link link-body-emphasis" href="{{url_for('training_bp.delete', id=training.id)}}">
                                <i class=" bi bi-trash-fill" 
                 onclick="return safeConfirm('{{_("Are you sure you want to delete this record?")}}');" title="Delete record"></i>
                         <span class="mt-1 {{show_mobile}} fw-semibold small"> {{_("Delete Training") }} </span>
                 </a>
                                   

               </div>
               <div class="col-lg-3 pt-1 ps-1 pe-0 align-self-center ">{% for event in training.trainingevents %}{{ db_datetime_str(event.start_time) }}<br>{% endfor %}</div>
               <div class="col-lg-1 pt-1 ps-1 pe-0 align-self-center ">
                                   <span class="{{show_mobile}} fw-semibold">Max/Enrolled/Wait list: </span>
               {{ training.max_participants }}&nbsp;/&nbsp;{{training._amount_enrolled }}&nbsp;/
                                                  {%- if training._amount_enrolled >= training.max_participants %}
                                                       <span class="text-danger fw-bold">{{ training._amount_enrolled - training.max_participants}}</span>
                                                   {% else %}
                                                       <span class="text-success">0</span>
                                                   {%- endif -%}
                                                   
                                                   </div>
               <div class="col-lg-4 pt-1 ps-1 pe-0 align-self-center ">
               <span class="{{show_mobile}} fw-semibold">Trainers: </span>
               {% for trainer in training.trainers %}{{ trainer }}{% if not loop.last %}, {%endif%}{% endfor %}
               
               </div>
          </div>
      </div>
          {% endfor %}
          
{% endblock %}

{% block modals %}

{% for traningtype in trainingtypes %}
<!-- Modal -->
<div class="modal fade" id="modal_{{traningtype.description}}" tabindex="-1" aria-labelledby="label_{{traningtype.description}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="label_{{traningtype.description}}">{{traningtype.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ get_tag(traningtype.description) | safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}


{% block js %}
<script type="text/javascript">

jQuery('#training_search').select2({
          placeholder : 'start typing',
          minimumInputLength: 1,
          containerCssClass : "myFont",
          ajax : {
               url : "{{url_for('training_bp.search')}}",
               dataType : 'json'
          // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
          }
     })

     $('#training_search').on('change', function() {
          var id = $("#training_search option:selected").val();

          const href = "{{url_for('training_bp.overview_list')}}?id="+ id;
          window.location.href = href
     })
</script>
{% endblock %}


               