{% extends 'form.html' %}

{% set menu="Training List" %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block formheader %}
<!-- Button trigger modal -->

<div class="col-md-12">
     <h3 class="text-center">{{ form.form_description }}</h3>
</div>
		
{% endblock %}

{% block additions_data %}
<div class="col-md-12 position-relative text-center div-line mt-1">
                   <hr class="hr-line ">
                   <span class="text-line fw-bold fs-6"><small></small></span>
            </div>
<div class="table-responsive border pt-2">
	<h6>{{ _("Training Events")}}</h6>
	<table id="EventsTable" class="mt-2 table table-striped table-bordered table-hover">
	</table>
</div>
{% endblock %}

{% block js_content %}

	<script defer src="{{url_for('training_bp.static', filename='table.js')}}"></script>
	
{% endblock %}


{% block formfooter %}

<!-- Modal -->
<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="eventModalLabel">{{ _("Event Editor") }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" name="modal_event_id" id="modal_event_id" value="">
        <input type="hidden" name="modal_event_pk" id="modal_event_pk" value="">
       	{% for event_field in eventform %}
       	{% if event_field.widget.input_type != "hidden" and event_field.widget.input_type != "submit" -%}
	       	{{event_field.label}}
	       	{{event_field}}
	    {% endif %}
       	{% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" onclick="this.blur();" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" onclick="this.blur();" class="btn btn-primary saveevent">Save Event</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

{{ moment.include_moment() }}


	<script src="/static/moment-timezone-with-data.min.js"></script>

<script type="text/javascript">
var events_global = {{events|safe }}
</script>

{% endblock %}

