{% macro field_id(field, sfx='') %}
  {% if field and field.id %}
    id="{{ field.id }}-{{ sfx }}"
  {% endif %}
{% endmacro %}

{% macro render_field_with_errors(field) %}
  <div class="row mb-3" {{ field_id(field, 'ctr') }}>
  <label for="colFormLabel" class="col-sm-4 col-form-label">{{ field.label }} </label>
  <div class="col-sm-8">
  {% if field.errors %}
  	{% set kwargss = {'aria-describedby': field.name + '_feedback', 'class': 'form-control is-invalid' } %}
  	{{ field(**kwargss)|safe }}
  {% else %}
  	{{ field(class_="form-control", **kwargs)|safe }}
  {% endif %}
    {% if field.errors %}
	    <div class="invalid-feedback" id="{{ field.name }}_feedback">
	    {% if field.errors %}
	     {% for error in field.errors %}
	       <div class="row"><small>{{ error }}</small></div>
	     {% endfor %}
		{% endif %}
	 </div>
    {% endif %}
  </div>
  </div>
{% endmacro %}

{% macro render_checkbox(field) %}
<div class="row mb-3" {{ field_id(field, 'ctr') }}>
	<div class="col-sm-4"></div>
	<div class="form-check col-sm-6 ms-2">
	  {{ field(class_="form-check-input", **kwargs)|safe }}
	  
	  {{ field.label(class_="form-check-label", for=field.id) }}
	</div>
</div>
{% endmacro %}

{% macro render_submit(field) %}
  <div class="row mb-3" {{ field_id(field, 'ctr') }}>
  	<div class="col-sm-4"></div>
    <div class="col-lg-6">
  {{ field(class_="btn btn btn-primary position-relative form-control mt-1",**kwargs)|safe }}
  </div>
  </div>
{% endmacro %}

{% macro render_field(field) %}
  <div class="row mb-3" {{ field_id(field, 'ctr') }}>{{ field(**kwargs)|safe }}</div>
{% endmacro %}
{% macro render_field_errors(field) %}
  <div class="row" {{ field_id(field, 'ctr') }}>
    {% if field and field.errors %}
      <ul>
        {% for error in field.errors %}<li class="fs-error-msg">{{ error }}</li>{% endfor %}
      </ul>
    {% endif %}
  </div>
{% endmacro %}

{# render WTForms (>3.0) form level errors #}
{% macro render_form_errors(form) %}
  {% if form.form_errors %}
    <div class="row mb-3" id="fs-form-errors">
      <ul>
        {% for error in form.form_errors %}<li class="fs-error-msg">{{ error }}</li>{% endfor %}
      </ul>
    </div>
  {% endif %}
{% endmacro %}

{% macro prop_next() -%}
  {% if 'next' in request.args %}?next={{ request.args.next|urlencode }}{% endif %}
{%- endmacro %}

  {# For forms that have multiple POST forms - explicitly render csrf_token so we can change the ID so we don't get duplicates #}
{% macro render_csrf(form, pfx) %}
  {% set csrf_field_name = form.meta.csrf_field_name | default %}
  {% if form[csrf_field_name] is defined %}
    {{ form[csrf_field_name](id=pfx~'-csrf') }}
  {% endif %}
{% endmacro %}
