[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-babel = "*"
flask-wtf = "*"
wtforms = "==3.2.1"
flask-security = "*"
setuptools = "*"
webauthn = "*"
argon2-cffi = "*"
email-validator = "*"
flask-mailman = "*"
flask-migrate = "*"
messagebird = "*"
wtforms-sqlalchemy = "*"
flask-moment = "*"
icalendar = "*"
beautifulsoup4 = "*"
phonenumbers = "*"
flask-mobility = "*"
nh3 = "*"
flask-apscheduler = "*"
jsonschema = "*"
qrcode = "*"
flask-admin = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.8"
