{% extends 'form.html' %}

{% set menu="New Message" %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}


{#
{% block formheader %}
<div class="modal fade" id="settingModel" tabindex="-1" aria-labelledby="settingModelLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="settingModelLabel">
               <h3 class="text-center">{{ form.form_description }}</h3>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
{% endblock %}

{% block formfooter %}
      </div>
      <div class="modal-footer">
        <button onclick="this.blur();" type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{_('Close')}}</button>
        <button onclick="this.blur();" type="submit" class="btn btn-primary">{{_('Send')}}</button>

      </div>
    </div>
  </div>
</div>
{% endblock %}
#}

{% block formfooter %}
</form>
{% endblock %}

{% block css_content %}
     {% include 'ckeditor-css.html' %}
{% endblock %}

{% block js %}
     {% include 'ckeditor-js.html' %}

<style>
.my_select_container{
     height: auto;
     width: 100%;
}
</style>

<script type="text/javascript">
// Do this before you initialize any of your modals

$(window).on('load', function() {

	const selectElement = $('#envelop_tos')
	
	function filterSelectedOptions(option) {
	    // Return the default text for placeholders

	    if (!option.id) return option.text;

	    // Get selected values as an array
	    const selectedValues = selectElement.val() || [];

	    // Hide already selected options
	    return selectedValues.includes(option.id) ? null : option.text;
	}

	
	selectElement.select2({
        placeholder : 'start typing',
//        dropdownParent: $('#settingModel'),
        containerCssClass : "myFont",
        //templateResult: filterSelectedOptions,
         dropdownAutoWidth: 'true',
         selectionCssClass: "my_select_container",

         ajax : {
             url : "{{url_for('user_bp.search')}}",
             dataType : 'json',
             traditional: true,
             data: function (params) {
                 var query = {
                   search: params.term,
                   _type: 'query',
                   q: params.term,
                   exclude: selectElement.val(),
                 }

                 // Query parameters will be ?search=[term]&type=public
                 return query;
               }

             
        }
    });
/* 
   //$('#envelop_tos').select2('data');
	$('#settingModel').modal('show', {focus: false});

    const close_button = document.getElementById('close')
    close_button.addEventListener('click', event => {
    	console.log('test')
    	event.stopPropagation()
    	//window.location.href = document.getElementById('url').value;
    })
    */	

});



</script>
 
{% endblock %}





