{% from "macros.html" import render_pagination %}


{% macro message_action(message_id, action, icon,tooltip, mobile=False, toggle=True, class="") %}
     <a href="javascript:void(0);" class="{{class}}  {% if not mobile %}pe-2 pt-1 {%endif%}" 
          {% if toggle %} onClick="this.blur(); call_action([{{message_id}}], '{{action}}');"{% endif %}>
     <i id="icon_{{action}}_{{message_id}}" class=" bi {{icon}}"
          data-toggle="tooltip" data-placement="top" title="{{tooltip}}"></i>{%- if mobile %}<span class="">{{tooltip}}</span>{%- endif -%}        
          </a>   
{%- endmacro %}

{% macro msg_checkbox(id) %}
<input id="checkbox_message_{{id}}" 
                         class="ms-1 form-check-input all_messages_check" message-id={{id}}
                              name="checkbox_message_{{id}}" type="checkbox" 
                              value="y">
{%- endmacro %}

{% extends 'filters.html' %}

{% block pre_data_headers %}

{% if not g.is_mobile %}
<div class="row lh-1 lh-1 pt-1 ps-1 border-top m-0">
<div class="col-lg-4 p-0 ">
     <input class="form-check-input" onClick="all_messages_enable(this);" id="select_all" name="select_all" type="checkbox" value="y">

{{- message_action(0, "new_message", "bi-envelope-plus","New Message", class="icon-link link-body-emphasis", class="ps-2 icon-link link-body-emphasis fs-5") }}
{{- message_action(0, "read_selected", "bi-envelope-open","Mark as read", class="icon-link link-body-emphasis fs-5 when_active d-none") }}
{{- message_action(0, "unread_selected", "bi-envelope","Mark as unread", class="icon-link link-body-emphasis fs-5 when_active d-none") }}
{{- message_action(0, "delete_selected", "bi-trash","Delete selected", class="icon-link link-body-emphasis fs-5 when_active d-none") }}
{{- message_action(0, "undelete_selected", "bi-envelope-x","Undelete selected", class="icon-link link-body-emphasis fs-5 when_active d-none") }}
                    
                    
</div>
<div class="col-lg-8 d-flex pe-1">
  <div class="col-lg-8 small text-end">
    <label for="free_text_search" class="col-form-label ">Search:&nbsp;</label>
  </div>
  <div class="col-lg-4 ">
    <input type="text" id="free_text_search" name="free_text_search" 
    class="form-control form-control-sm small text-end "
     aria-describedby="free_text_search"
     value="{{user_q}}">
  </div>
</div>

</div>

{% else %}
<div class="row px-0 py-2 border-top m-0">
<div class="col-lg-12 pt-1 d-flex pe-1">
  <div class="col-2 small">
    <label for="free_text_search" class="col-form-label ">Search:&nbsp;</label>
  </div>
  <div class="col-10 ">
    <input type="text" id="free_text_search" name="free_text_search" 
    class="form-control form-control-sm small"
     aria-describedby="free_text_search"
     value="{{user_q}}">
  </div>
</div>

<div class="ps-1 ms-0 lh-1 d-flex justify-content-between">
<div>
     <input class="form-check-input" onClick="all_messages_enable(this);" id="select_all" name="select_all" type="checkbox" value="y">
     {% set iconclass="icon-link link-body-emphasis when_active d-none small " %}
{{- message_action(0, "new_message", "bi-envelope-plus","New", mobile=True, class="small ps-4 pe-0 icon-link link-body-emphasis") }}
</div>
                    {{- message_action(0, "read_selected", "bi-envelope-open","Read", mobile=True, class=iconclass) }}
                    {{- message_action(0, "unread_selected", "bi-envelope","Unread", mobile=True,class=iconclass) }}
                    {{- message_action(0, "delete_selected", "bi-trash","Del",  mobile=True,class=iconclass) }}
     {{- message_action(0, "undelete_selected", "bi-envelope-x","Undelete", mobile=True,class=iconclass) }}
</div>



</div>
{% endif %}


{% endblock %}


{% block head_row %}
    <div class="col-12 text-center">
        <h3 class="">{{page_name}}</h3>

     </div>
{% endblock %}

{% block searchbox %}
<!-- <l class="col-lg-12 mt-2"><strong>{{_('User Search')}}</strong></l>
     <div class="">
     <select  class="col-12" id="student_search" class="student_search"></select>
</div>
 -->{% endblock %}

{% block data_headers %}
{% endblock %}

{% block data_rows %}


      {% for user_envelop in pagination -%}
               
      {%if g.is_mobile %} 
      <div class="row base-row position-relative {{ loop.cycle('evendiv', 'odddiv')}} m-0 {% if user_envelop.message_read == None%}fw-semibold{%endif%} " 
          id="m_{{user_envelop.message.id}}" message-id={{user_envelop.message.id}} onClick="user_show_model(this);"
               message-bcourse-read-status="{{1 if user_envelop.message_read else 0}} "  >
      
                    <div class="ps-0 d-flex align-items-center border-bottom">
                         <div class="">{{ msg_checkbox(user_envelop.message.id) }}</div>
                         <div class="col-10">
                              <div class="me-3 text-truncate pb-1 ">
                                   <span class="ps-1 ">{{ user_envelop.message.envelop_from }}</span><br>
                                   <span class="ps-1 ">{{ user_envelop.message.subject }}</span>
                              </div>
                         </div >
                         <div class="w-100 justify-content-end text-end">
                                        <span class="">{{ user_envelop.message.created_date | message_date}}</span>
                         </div>

                    </div>
      
      
      {% else %}
      <div class="row base-row position-relative {{ loop.cycle('evendiv', 'odddiv')}} m-0" >
          <div  class="highlight hover-container px-0"> 
              <div  class=" d-lg-flex hover-target {% if user_envelop.message_read == None%}fw-semibold{%endif%}" 
              style="cursor: pointer;" id="m_{{user_envelop.message.id}}" message-id={{user_envelop.message.id}} onClick="user_show_model(this);"
               message-bcourse-read-status="{{1 if user_envelop.message_read else 0}}">
                    <div class="me-3 col-lg-3 text-truncate pb-1 ">
                         {{ msg_checkbox(user_envelop.message.id) }}
                         <span class="ps-1 ">{{ user_envelop.message.envelop_from }}</span>
                    </div>

                    <div class="test-overflow col-lg-8 py-0 text-truncate">
                         {{ user_envelop.message.subject }}
                    </div>
                    <div class="text-end w-100">
                                   <span class="pe-2  test-overflow">{{ user_envelop.message.created_date | message_date}}</span>
                    </div>
               </div>
               
               <div class="highlighttext-lg-end hover-message lh-1 ps-5" style="width: fit-content;">

                    {% if user_envelop.message_read == None %}
                         {{- message_action(user_envelop.message.id, "toggle", "bi-envelope-open","Toggle read", class="icon-link link-body-emphasis") }}
                    {% else %}
                         {{- message_action(user_envelop.message.id, "toggle", "bi-envelope","Toggle read", class="icon-link link-body-emphasis") }}
                    {% endif %}
                    {{ message_action(user_envelop.message.id, "delete", "bi-trash","Delete", class="icon-link link-body-emphasis") }}
               </div>
               <!-- hover -->
               
         </div>
         {% endif %}
     </div>

          {% endfor %}
    
{% endblock %}

{% block modals %}

<!-- Modal -->
<div class="modal fade" id="modal_message" message-id="" tabindex="-1" aria-labelledby="label_modal_message" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
      <div class="row">
      <div class="col-lg-12">
        <span class="fw-semibold">From:&nbsp;</span><span class="modal-title " id="message_from"></span>
        </div>
      <div class="col-lg-12">
        <span class="fw-semibold">Subject:&nbsp;</span><span class="modal-title " id="message_subject"></span>
        </div>
      <div class="col-lg-12">
        <span class="fw-semibold">Date:&nbsp;</span><span class="modal-title " id="message_date"></span>
        </div>

          </div>
          <div class="align-self-start">
                  <button type="button" class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
      </div>
      <div class="modal-body">
        <div id="message_body"></div>
        <div id="message_tags"></div>
      </div>
      <div class="modal-footer">
               <span class="fs-3"><button onClick="this.blur();" type="button" class="btn btn-sm btn-outline-dark" data-bs-dismiss="modal">Close</button>&nbsp;</span>
               <span class="fs-3">{{- message_action(0, "unread_msg_modal", "bi-envelope mb-2","Unread ", mobile=True, class="btn btn-sm btn-outline-dark") }}&nbsp;</span>
               <span class="fs-3 admin_hide">{{- message_action(0, "reply", "bi-reply mb-2","Reply", mobile=True, class="btn btn-sm btn-outline-dark ") }}&nbsp;</span>
               <span class="fs-3">{{- message_action(0, "delete_msg_modal", "bi-trash mb-2","Delete", mobile=True, class="btn btn-sm btn-outline-dark") }}&nbsp;</span>
      </div>
    </div>
  </div>
</div>

{% endblock %}



{% block js %}

<script>

const icon_open = 'bi-envelope-open';
const icon_close = 'bi-envelope';
const MsgModal =  new bootstrap.Modal('#modal_message')



function user_show_model(item){
	const msg_id = item.getAttribute("message-id")
	$('#modal_message').attr('message-id', msg_id)
	
	
	$.getJSON(`/account/messages/api/get/${msg_id}`, function(data) {
		console.log(data)
	    $('#message_body').html(data.body);
	    $('#message_subject').html(data.subject);
	    $('#message_date').html(data.created_date);
	    $('#message_from').html(data.from )
	    $('#message_tags').html("Tags: " + data.tags.join(", ") )
	    if (data.from == "do-not-reply"){
	    	$('.admin_hide').addClass("d-none")
	    } else {
	    	$('.admin_hide').removeClass("d-none")
	    }
	    action_update_nav_unread(data.unread_messages)
	    action_read_toggle([msg_id], 1)
	    MsgModal.show()
	});
	
	
	
}

function action_read_toggle(message_ids, is_read){
	var message_id
	var message
	
	console.log("start action_read_toggle message_ids: " + message_ids + " is_read: " + is_read)
	
     $.each(message_ids, function (){
    	  message_id = this;
          
    	  if (is_read == 0){
    		  
              $("#m_" + message_id).addClass("fw-semibold")
              $("#icon_toggle_" + message_id).removeClass("bi-envelope")
              $("#icon_toggle_mobile_" + message_id).removeClass("bi-envelope")

              $("#icon_toggle_" + message_id).addClass("bi-envelope-open")
              $("#icon_toggle_mobile_" + message_id).addClass("bi-envelope-open")
              
              
    	  } else {

              $("#m_" + message_id).removeClass("fw-semibold")
              $("#icon_toggle_" + message_id).removeClass("bi-envelope-open")
              $("#icon_toggle_mobile_" + message_id).removeClass("bi-envelope-open")

              $("#icon_toggle_" + message_id).addClass("bi-envelope")
              $("#icon_toggle_mobile_" + message_id).addClass("bi-envelope")
    		  
    	  }
          $("#m_" + message_id).attr('message-bcourse-read-status',is_read)
               
     })
};

function action_update_nav_unread(unread){
	$('#nav_unread_messages').text(unread)
}

function action_find_selected(){
	const messages = []
	$.each($('.all_messages_check'), function (item, value) {

		if (value.checked){
			messages.push(parseInt($('#' + value.id).attr('message-id')))
		}
	})
	return (messages)
}

function call_action (message_ids,action){
	
 	if (action == "toggle" || action == "toggle_mobile"){
		$.each(message_ids, function() {
			const is_read = $("#m_" + this).attr('message-bcourse-read-status')			
	 		if (is_read == 0){
	 			action_req = "read"
		 		action = "read"
			} else {
				action_req = "unread"
			 	action = "unread"

			}
		})
 	} else if (action == "new_message") {
 		window.location.href = '{{ url_for("user_bp.message") }}';
 		return(false)
 	} else if (action == "reply") {
 		var message_url = '{{ url_for("user_bp.message", _external=True) }}'
 		console.log(message_url)
 		message_url = addOrReplaceUrlParam(message_url, 'reply',parseInt($('#modal_message').attr('message-id')) )
 		window.location.href = message_url
 		return(false)
 	} else if (action == "delete_msg_modal") {
 		message_ids = [parseInt($('#modal_message').attr('message-id'))]
 		action_req = "delete"
 		action = action_req
 	} else if (action == "unread_msg_modal") {
 		message_ids = [parseInt($('#modal_message').attr('message-id'))]
 		action_req = "unread"
 		action = action_req
 		MsgModal.hide()
 	} else if (action == "undelete_selected") {
 		message_ids = action_find_selected()
 		action_req = "undelete"
 	} else if (action == "read_selected") {
 		message_ids = action_find_selected()
 		action_req = "read"
 	} else if (action == "unread_selected") {
 		message_ids = action_find_selected()
 		action_req = "unread"
 			
 	} else if (action == "delete_selected") {
 		message_ids = action_find_selected()
 		action_req = "delete"
 	}	else {
 		action_req = action
	} 	

     const actionObj = {};
     actionObj.message_ids = message_ids;
     actionObj.action = action_req;
     const url = "{{url_for('user_bp.action')}}";
     
     if (message_ids.length == 0){
    	 return (false)
     }

     $.ajax(url, {
         data : JSON.stringify(actionObj),
         contentType : 'application/json',
         headers: {
         	'Accept': 'application/json',
         	'X-CSRF-TOKEN': '{{csrf_token()}}'              
         	},
         type : 'POST',
     	 success: function (data) {
     		 
            console.log(data)
            
			switch (action) {
			case "delete_selected":
				location.reload();
				break;
			case "delete":
				action_update_nav_unread(data.unread_messages)
				location.reload();
				break;
			case "unread_selected":
				action_read_toggle(data.messages,0)
				action_update_nav_unread(data.unread_messages)
				break;
			case "undelete_selected":
				location.reload();
				break;
			case "read_selected":
				action_read_toggle(data.messages,1)
				action_update_nav_unread(data.unread_messages)
				break;
			case "unread":
				action_read_toggle(data.messages,0)
				action_update_nav_unread(data.unread_messages)
				break;
			case "read":
				action_read_toggle(data.messages,1)
				action_update_nav_unread(data.unread_messages)
				break;
             }
        },
        statusCode: {
            400: function() {
         	   location.reload();
            }
        },
         });
}

function all_messages_enable(checkbox){
	$('.all_messages_check').prop('checked', checkbox.checked);
	if (checkbox.checked){
		$('.when_active').removeClass("d-none")
	}else {
		$('.when_active').addClass("d-none")
	}

     }
     $('.no_click').bind('click', (event) => {
     	  event.stopPropagation(); // Stop the click event from bubbling up
     });


  $('.all_messages_check').bind('click', (event) => {
	  event.stopPropagation(); // Stop the click event from bubbling up
	  var checked = false
	  $.each($('.all_messages_check'), function (){
		  if (this.checked){
			  checked = true
		  }
	  });
		if (checked){
			$('.when_active').removeClass("d-none")
		}else {
			$('.when_active').addClass("d-none")
		}

  });

function addOrReplaceUrlParam(url, paramName, paramValue) {
    const urlObj = new URL(url);
    urlObj.searchParams.set(paramName, paramValue);
    return urlObj.toString();
}
  
const $searchInput = $('#free_text_search');

$searchInput.on('keydown', async (event) => {
	if (event.key === 'Enter') {
		const q = $searchInput.val().trim()
		const currentUrl = window.location.href;
		const updatedUrl = addOrReplaceUrlParam(currentUrl, "q", q);
		window.location.href = updatedUrl;
	}
});
  </script>

{% endblock %}


          