{% extends 'form.html' %}

{% block formheader %}



<div class="modal fade" id="settingModel" tabindex="-1" aria-labelledby="settingModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="settingModelLabel">
			<h3 class="text-center">{{ form.form_description }}</h3>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
{% endblock %}


{% block formfooter %}
      </div>
      <div class="modal-footer">
        <button onclick="this.blur();" type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{_('Close')}}</button>
        <button onclick="this.blur();" type="submit" class="btn btn-primary">{{_('Save changes')}}</button>

      </div>
    </div>
  </div>
</div>
</form>


{% endblock %}

{% block js %}
<script>
$(window).on('load', function() {
    $('#settingModel').modal('show');

    const settingModel = document.getElementById('settingModel')
    settingModel.addEventListener('hide.bs.modal', event => {
    	window.location.href = document.getElementById('url').value
    })
});
</script>

{% endblock %}
