 {% with messages = get_flashed_messages(with_categories=True) %}
 
     <div class="floating-alerts">
		<div id="liveAlertPlaceholder">
   {% for category, message in messages %}
   {% if category == "error" %}{% set category = "danger" %}{% endif %}
   
    <div class="alert alert-{{ category }} alert-dismissible floating-alert-close fade show" role="alert">
        <div class="row justify-content-md-center">{{ message }}</div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
   {% endfor %}
   
		</div>
	</div>
{% endwith %}
