{% from "macros.html" import render_pagination %}
{% extends 'base.html' %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}

<div class="container border">
<div class="row" >
     <div class="col-lg-1"></div>
     <div class="col-lg-7">
     <!-- block head_row -->
          <div class="row text-nowrap">
               {% block head_row %}{% endblock %}
          </div>
     </div>
     <div class="col-lg-4 text-end text-nowrap {% if not g.is_mobile %}small{% endif %} align-self-end">
     {%- if pagination.has_next or pagination.has_prev %}
     {{ render_pagination(pagination) }}
     {%- endif %}
     </div>
</div>

<div class="row ">
<div class="col-lg-2 border-top border-end">

<!-- menu --> 
<div class="row">
<!-- block searchbox -->
{% block searchbox %}{% endblock %}
</div>
 
<div class="row ">
          <form id="MyFilters" name="MyFilters" action="" method="get"
               class="needs-validation row justify-content-md-center m-0 collapseExample" >
           
  <button class="btn btn-outline-dark btn-sm my-2 small" 
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
          value="{% if filters.show %}noshow{%else%}show{%endif%}"
          id="show_submit"
          name="show_submit"
          type="submit" >
          Filters</button>

          <div class="p-0 {% if filters.show %}collapse.show{%else%}collapse{%endif%}" id="collapseExample">
               {% for filter in filters %}
               <div class="ps-0 py-1" style="cursor: pointer;"
                    data-bs-toggle="collapse" data-bs-target="#filter_group_{{filter.id}}"
                    aria-expanded="true" aria-controls="filter_group_{{filter.id}}">
                    <small><strong>{{filter.name}}</strong> <i class="bi bi-chevron-down" style="font-size: 0.65rem;"></i></small>
               </div>
               <div class="collapse show" id="filter_group_{{filter.id}}" 
                    style="max-height: 10rem; overflow-y: auto;">
                    {% for item in filter %}
                                        
                    <div class="form-check ">
                         <input
                              class="form-check-input"
                              type="checkbox"
                              {% if item.checked %} checked{% endif %}
                         value="{{item.id}}"
                              name="{{filter.id}}"
                              id="{{filter.id}}_{{item.id}}"
                              onclick="document.getElementById('MyFilters').submit()"
                              >
                          <label
                              class="form-check-label col-12"
                              for="{{filter.id}}_{{item.id}}"
                         ><small>{{_(item.name)}}</small></label>
                    </div>
               
                    {% endfor -%}
               </div>
               {% endfor -%}
               {% if user_q is defined and user_q != "" %}<span] class="small pt-1"> <span class="">Search term: <span class="fw-semibold">{{user_q}}</span></<span></span>{% endif %}
               <div class="px-0 pt-2 pb-2">
               <div class="" >
                    <button
                         name="submit_id"
                         id="submit_id"
                         class="col-12 btn btn-outline-dark btn-sm mt-0"
                         style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                         type="submit"
                         value="clear"
                    >{{_("Clear filters")}}</button>
                    </div>
               </div>
               {% block filter_actions %}{% endblock %}
               </div>
               <input id="q" name="q" type="hidden" value="{{user_q}}">
               <input id="hidden_show" name="show" type="hidden" value="{{filters.show}}"> 
               <input id="page" name="page" type="hidden" value="{{pagination.page}}"> 
               {% block filter_extra_inputs %}{% endblock %}

               {% if return_url %}
               <input id="url" name="url" type="hidden" value="{{return_url}}">    
               
               <div class="p-0 pb-2">
                    <button
                         name="submit_id"
                         id="submit_id"
                         class="col-12 btn btn-outline-dark btn-sm"
                         style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                         type="submit"
                         value="back"
                    >{{_("Back")}}</button>
                    </div>
                {% endif %}
          </form>

</div>
  

</div>

 <div class="col-lg-10 p-0 m-0">

     {% block pre_data_headers %}{% endblock %}

     <div class="d-none d-lg-block d-xl-block d-xxl-block">
     <!-- block data_headers -->
          <div class="row border-bottom border-top m-0 pb-1" >
          {% block data_headers %}{% endblock %}
          {% if pagination.has_next or pagination.has_prev %}
{% endif %}
          
          
          
          </div>
     </div>
     <!-- block data_rows -->
          {% block data_rows %}{% endblock %}



</div>
</div>
</div>

{% if pagination.has_next or pagination.has_prev %}
     <div class="row">
     <div class="col-xl-12 border-top text-end pe-4 {% if not g.is_mobile %}small{% endif %}">
     {{ render_pagination(pagination) }}
      </div>
      </div>
{% endif %}


{% block modals %}
{% endblock %}

          {% endblock %}

