  <div class="container">
<!--     <div class="row">
      <div class="col-lg-4">
        <h5>About Us</h5>
        <p>Some information about your company.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white">Link 1</a></li>
          <li><a href="#" class="text-white">Link 2</a></li>
          <li><a href="#" class="text-white">Link 3</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: info At gnarst.net</p>
      </div>
    </div>
 -->    <div class="row">
      <div class="col small text-center">
        <p class="mb-0">&copy; 2025 Gnarst B.V. All rights reserved.</p>
      </div>
    </div>
  </div>
