
<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
	<div class="container">
		<a class="navbar-brand" href="/">bcourse</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav bg-dark me-auto mb-2 mb-lg-0" data-bs-theme="dark">
                {% for menu in menu_structure %}
                {% if current_user.has_role(menu.role) -%}
				<li class="nav-item dropdown">
				
				<a class="nav-link dropdown-toggle {% if menu.active(request.endpoint) %} active{% endif %}" href="#" id="navbarDropdown"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ menu.name }} 
				</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                         {% for sub_menu in menu %}
						<li><a class="dropdown-item {% if sub_menu.active(request.endpoint) %} active bg-dark{% endif %}"
							href="{{url_for(sub_menu.url)}}">{{ sub_menu.name }}</a></li>
                         {% endfor %}
					</ul>
				</li>
               {% endif %}
               {% endfor %}
               
               {% if current_user.has_role('db-admin') -%}
				<li class="nav-item dropdown">
				
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Admin 
				</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li><a class="dropdown-item"
							href="{{url_for('admin.index')}}">Database Admin</a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" aria-current="page"
					href="#">Home</a></li>
			</ul>
               
			{% else %}
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown"></li>
			</ul>
			{% endif -%}
               
               {%- if _fs_is_user_authenticated(current_user) %}
               
               
<div id="practiceheader" class="pe-2">
<span>{{_("Practice")}}:</span>
<select id="practice_selector" class="practice_selector bg-dark form-control-sm w-70" name="practice_selector"
          onMouseleave="this.blur();"
>
{%- for practice in current_user.practices() %}
<option value="{{practice.id}}" {% if session['practice'] == practice.id %} selected{% endif %}>{{practice.name}}</option>
{%- endfor%}
</select>
</div>

<a href="#" class="position-relative me-2">
     <svg id="mailicon" class="ms-1" width="22" height="22" viewBox="0 0 70 50" xmlns="http://www.w3.org/2000/svg" 
          fill="none" stroke="#9b9d9e" stroke-width="4" stroke-linecap="round" stroke-linejoin="round">

       <!-- Envelope Body -->
       <rect x="0" y="0" width="70" height="40" fill="none"/>
       
       <!-- Envelope Flap -->
       <polyline points="0,0 35,25 70,0" fill="none"/>
       
     </svg>
     <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" style="font-size: 7pt;">
                                  9
         <span class="visually-hidden">unread messages</span>
     </span>
</a>
               {% endif -%}

			<ul class="navbar-nav">


				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="bi bi-person-fill"></i>
				</a>
					<ul class="dropdown-menu dropdown-menu-end"
						aria-labelledby="navbarDropdown">
						{% if security.registerable or security.recoverable or
						security.confirmable or security.unified_signin or
						security.two_factor or security.webauthn or
						security.change_username or security.username_recovery -%} {% if
						_fs_is_user_authenticated(current_user) -%} {# already
						authenticated user #}
						<li><a class="dropdown-item"
							href="{{ url_for('user_bp.update') }}">Account Details</a></li>
						<li><a class="dropdown-item"
							href="{{ url_for('user_bp.settings') }}">Account Settings</a></li>

						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item"
							href="{{ url_for_security('logout') }}">{{ _fsdomain("Sign
								out") }}</a></li> {% if security.changeable -%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('change_password') }}">{{
								_fsdomain("Change Password") }}</a></li> {% endif -%} {% if
						security.change_email -%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('change_email') }}">{{
								_fsdomain("Change Registered Email") }}</a></li> {% endif -%} {% if
						security.change_username -%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('change_username') }}">{{
								_fsdomain("Change Username") }}</a></li> {% endif -%} {% if
						security.two_factor -%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('two_factor_setup') }}">{{
								_fsdomain("Two-Factor Setup") }}</a></li> {% endif -%} {% if
						security.unified_signin -%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('us_setup') }}">{{
								_fsdomain("Unified Signin Setup") }}</a></li> {% endif -%} {% if
						security.webauthn -%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('wan_register') }}">{{
								_fsdomain("WebAuthn Setup") }}</a></li> {% endif -%} {% else %} {% if not
						skip_login_menu -%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('login') }}{%- if 'next' in request.args -%}?next={{ request.args.next|urlencode }}{%- endif -%}">{{
								_fsdomain('Login') }}</a></li> {% endif -%} {% if security.unified_signin
						and not skip_login_menu -%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('us_signin') }}{%- if 'next' in request.args -%}?next={{ request.args.next|urlencode }}{%- endif -%}">{{
								_fsdomain('Unified Sign In') }}</a></li> {% endif -%} {% if
						security.registerable %}
						<li><a class="dropdown-item"
							href="{{ url_for_security('register') }}{%- if 'next' in request.args -%}?next={{ request.args.next|urlencode }}{%- endif -%}">{{
								_fsdomain('Register') }}</a></li> {% endif -%} {% if security.recoverable
						-%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('forgot_password') }}">{{
								_fsdomain('Forgot password') }}</a></li> {% endif -%} {% if
						security.username_recovery -%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('recover_username') }}">{{
								_fsdomain('Recover Username') }}</a></li> {% endif -%} {% if
						security.confirmable -%}
						<li><a class="dropdown-item"
							href="{{ url_for_security('send_confirmation') }}">{{
								_fsdomain('Confirm account') }}</a></li> {% endif -%} {% endif -%}
					</ul> {% endif -%}
			</ul>
			</li>
			</ul>
		</div>
	</div>
</nav>
