{% extends 'base.html' %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{page_name}}</h1>
    </div>

<div class="container">
<div class="row">
<div class="col-md-2">

<!-- menu --> 
<div class="row">
  <small class="col-md-12"><strong>{{_('Student Search')}}</strong></small>
  
     <div class="">
     <select  class="col-12" id="student_search" class="student_search"></select>
     </div>
  </div>
{% include 'left_filters.html' %}
</div>
<style>
.evendiv div{background-color: rgb(244, 244, 244);

}
.odddiv div{background-color: rgb(255, 255, 255);

}

.highlight:hover > * {
    background-color: rgb(230, 230, 230);
}
</style>


 <div class="col-md-10 ">
     <div class="d-none d-md-block d-lg-block d-xl-block d-xxl-block">
          <div class="row border-bottom border-start border-top border-end pb-1" >
               <div class="col-md-1 fw-semibold">#</div>
               <div class="col-md-3 fw-semibold">Name</div>
               <div class="col-md-3 fw-semibold">Email</div>
               <div class="col-md-2 fw-semibold">Status</div>
               <div class="col-md-1 fw-semibold">Type</div>
               <div class="col-md-2 fw-semibold">Phone</div>
          </div>
     </div>
          {% for student in students -%}
      <div class=" {{ loop.cycle('evendiv', 'odddiv')}}">
              <div class="row highlight border-bottom border-start border-bottom border-end">
               <div class="col-1 pt-1 pb-1">
                    <a class="icon-link link-body-emphasis"
                         href="{{ url_for('students_bp.edit_user',id=student.user_id ) }}"> <i class="bi bi-pencil-fill"></i>
                    </a>

               </div>
               <div class="col-md-3 pt-1 pb-1">{{ student.user.fullname }}</div>
               <div class="col-md-3 pt-1 pb-1">{{ student.user.email }}</div>
               <div class="col-md-2 pt-1 pb-1">
               
                    <a class="icon-link link-body-emphasis"
                         href="{{ url_for('students_bp.student',id=student.id ) }}"> <i class="bi bi-pencil-fill"></i>
                    </a>
               {{ student.studentstatus }} 
               
               </div>
               <div class="col-md-1 pt-1 pb-1">{{ student.studenttype }} 
               </div>
               <div class="col-md-2 pt-1 pb-1">{{ student.user.phone_number }}</div>
          </div>
      </div>
          {% endfor %}
          




</div>

          {% endblock %}

{% block js %}

<script type="text/javascript">
	$('#student_search').select2({
		placeholder : 'start typing',
		containerCssClass : "myFont",
		ajax : {
			url : '/students/search',
			dataType : 'json'
		// Additional AJAX parameters go here; see the end of this chapter for the full code of this example
		}
	});

	$('#student_search').on('change', function() {
		var id = $("#student_search option:selected").val();

		const href = "{{url_for('students_bp.index')}}?id="+ id;
		window.location.href = href
	})
</script>

{% endblock %}


