{% extends 'form.html' %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block formheader %}

<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="studentModalLabel">
			<h3 class="text-center">{{ form.form_description }}</h3>
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
{% endblock %}

{% block formfooter %}
      </div>
      <div class="modal-footer">
        <a onclick="this.blur();" type="submit" id="close" name="close" value="close" class="btn btn-secondary" data-bs-dismiss="modal">{{_('Close')}}</a>
        <button onclick="this.blur();" type="submit" name="submit" value="submit"  class="btn btn-primary">{{_('Save changes')}}</button>

      </div>
    </div>
  </div>
</div>
</form>
{% endblock %}

{% block js_content %}
{% endblock %}


{% block js %}

<script>


$(window).on('load', function() {
    $('#studentModal').modal({keyboard: false, backdrop: 'static'});
    $('#studentModal').modal('show')
	
    const studentModal = document.getElementById('studentModal')
    studentModal.addEventListener('hidden.bs.modal', event => {
    	const url =  document.getElementById('url').value;
    	$('#studentModal').blur();
        window.location.replace(url);
    })
});

//{% include 'postcode.js' %}

</script>

<style>
    
.select2-container{
    z-index:100000;

}
    
</style>
<script type="text/javascript">


$(function() {
    $(".roles_select").select2({
    	    multiple: true,
    	    dropdownAutoWidth: 'true',
    	    width: '100%'

    });
});


</script>


<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@25.3.0/build/js/intlTelInput.min.js"></script>

<script>
$(window).on('load', function() {
    var pwField = document.getElementById('password');
    if (pwField) {
        var inputGroup = pwField.closest('.input-group');
        var btn = document.createElement('button');
        btn.type = 'button';
        btn.className = 'btn btn-outline-secondary input-group-text';
        btn.title = '{{ _("Generate password") }}';
        btn.innerHTML = '<i class="bi bi-key"></i>';
        btn.addEventListener('click', function() {
            var chars = 'ABCDEFGHJKLMNPQRSTUVWXYZabcdefghijkmnopqrstuvwxyz23456789!@#$%&*';
            var pwd = '';
            var arr = new Uint32Array(16);
            crypto.getRandomValues(arr);
            for (var i = 0; i < 16; i++) {
                pwd += chars[arr[i] % chars.length];
            }
            pwField.type = 'text';
            pwField.value = pwd;
            var icon = inputGroup.querySelector('.toggle-password i');
            if (icon) { icon.className = 'bi bi-eye'; }
        });
        var toggleBtn = inputGroup.querySelector('.toggle-password');
        toggleBtn.after(btn);
        var helpDiv = document.createElement('div');
        helpDiv.className = 'col-md-6 mt-1 d-flex align-items-end';
        helpDiv.innerHTML = '<small class="form-text text-muted">{{ _("Click the key icon to generate a safe password. Copy and share it with the student.") }}</small>';
        inputGroup.closest('.col-md-6').after(helpDiv);
    }
});
</script>

{% endblock %}

