{% extends 'base.html' %}

{% block nav %}
    {% include 'nav.html' %}
{% endblock %}

{% block content %}

<div class="row">
     <div class="col-2"></div>
     <div class="col-8 pb-5">
          <h1>Students</h1>
     </div>
     <div class="col-2"></div>
</div>
<div class="row">
     <div class="col-2"></div>
     <div class="col-8">
     </div>
     <div class="col-2"></div>
</div>
<div class="row">
<div class="col-md-2 pt-2">

    <style type="text/css">
.select2-results__options{
        font-size:14px !important;
 }
 .select2-selection__rendered {
  font-size: 14px;
}
 
    </style>

  <div class="col-md-10 mb-4">
  <div class="row">
  <small class="col-md-12"><strong>{{_('Student Search')}}</strong></small>
  
     <div class="">
     <select  class="col-12" id="student_search" class="student_search"></select>
     </div>
  </div>
  </div>

          <form id="filters" method="get">
               <button class="col-10 btn btn-outline-dark btn-sm mb-2" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                    type="submit"
                    value="submit"
                    id="filter">
                    {{_("Filter")}}</button>

               {% for name, text, items_list in filters %}
               <div class="ps-0 pt-2">
                    <small><strong>{{text}}</strong></small>
               </div>
               {% for item in items_list %}
               <div class="form-check ">
                    <input
                         class="form-check-input"
                         type="checkbox"
                         {% if
                         item.id
                         in
                         filters_checked[name] %} checked{% endif %}
                    value="{{item.id}}"
                         name="{{name}}"
                         id="{{name}}_{{item.id}}"
                    > <label
                         class="form-check-label col-10"
                         for="{{name}}_{{item.id}}"
                    ><small>{{_(item.name)}} </small></label>
               </div>
               {% endfor -%} {% endfor -%}
               <div class="pt-5">
                    <button
                         name="submit"
                         id="submit"
                         class="col-10 btn btn-outline-dark btn-sm mt-5"
                         style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                         type="submit"
                         value="clear"
                    >{{_("Clear filters")}}</button>
          </form>
     </div>
</div>
<style>
.evendiv div{background-color: rgb(244, 244, 244);

}
.odddiv div{background-color: rgb(255, 255, 255);

}

.row.highlight:hover > * {
    background-color: rgb(230, 230, 230);
}
</style>
<div class="col-md-10 ">
     <div>
          <div class="row border-bottom border-start border-top border-end pb-1" >
               <div class="col-md-1 fw-semibold">#</div>
               <div class="col-md-3 fw-semibold">Name</div>
               <div class="col-md-4 fw-semibold">Email</div>
               <div class="col-md-1 fw-semibold">Status</div>
               <div class="col-md-1 fw-semibold">Type</div>
               <div class="col-md-2 fw-semibold">Phone</div>
          </div>
     </div>
          {% for student in students -%}
      <div class=" {{ loop.cycle('evendiv', 'odddiv')}}">
              <div class="row highlight border-bottom border-start border-bottom border-end">
               <div class="col-1 pt-1 pb-1">
                    <a
                         class="icon-link link-body-emphasis"
                         href="{{ url_for('students_bp.student',id=student.id ) }}"
                    > <i class="bi bi-pencil-fill"></i>
                    </a>
               </div>
               <div class="col-md-3 pt-1 pb-1">{{ student.user.fullname }}</div>
               <div class="col-md-4 pt-1 pb-1">{{ student.user.email }}</div>
               <div class="col-md-1 pt-1 pb-1">{{ student.studentstatus }}</div>
               <div class="col-md-1 pt-1 pb-1">{{ student.studenttype }}</div>
               <div class="col-md-2 pt-1 pb-1">{{ student.user.phone_number }}</div>
          </div>
      </div>
          {% endfor %}
          




</div>

          {% endblock %}

{% block js %}

<script type="text/javascript">
	$('#student_search').select2({
		placeholder : 'start typing',
		containerCssClass : "myFont",
		ajax : {
			url : '/students/search',
			dataType : 'json'
		// Additional AJAX parameters go here; see the end of this chapter for the full code of this example
		}
	});

	$('#student_search').on('change', function() {
		var id = $("#student_search option:selected").val();

		const href = "/students/edit/" + id;
		window.location.href = href
	})
</script>

{% endblock %}


