{% extends 'filters.html' %}

{% block head_row %}
    <div class="col-12 text-center">
        <h3 class="">{{page_name}} for {{ user.fullname }}</h3>
     </div>

{% endblock %}

{% block searchbox %}
  <span class="col-lg-12 mt-2"><strong>{{_('Training Search')}}</strong></span>
  
     <div class="">
     <select  class="col-12" id="training_search" class="training_search"></select>
     </div>
{% endblock %}

{% block data_headers %}
               <div class="col-3 fw-semibold ps-0">{{_('Name')}}</div>
               <div class="col-1 fw-semibold ps-0"></div>
               <div class="col-2 fw-semibold ps-0">{{_('Type')}}</div>
               <div class="col-3 fw-semibold ps-0">{{_('Date')}}</div>
               <div class="col-1 fw-semibold ps-0">{{_('Spots')}} <i class="text-primary fs-6 bi bi-question" 
                                                            data-toggle="tooltip" 
                                                            data-placement="top" 
                                                            title="{{_('participants max/current/waitlist') }}"></i></div>
               <div class="col-2 fw-semibold ps-0">{{_('Status')}}</div>

{% endblock %}

{% block data_rows %}

{% set who = user.fullname %}
{% set admin = True %}


{% include 'scheduler/scheduler_loop.html' %}


{% endblock %}

{% block modals %}

{% for trainingtype in trainingtypes %}
<!-- Modal -->
<div class="modal fade" id="modal_{{trainingtype.description}}" tabindex="-1" aria-labelledby="label_{{trainingtype.description}}" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="label_{{trainingtype.description}}">{{trainingtype.name}}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ get_tag(trainingtype.description) | safe }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}

{% block js %}

<script type="text/javascript">
     $('#training_search').select2({
          placeholder : 'start typing',
          selectionCssClass : "myFont",
          ajax : {
               url : "{{url_for('scheduler_bp.search') }}",
               dataType : 'json'
          // Additional AJAX parameters go here; see the end of this chapter for the full code of this example
          }
     });

     $('#training_search').on('change', function() {
          var id = $("#training_search option:selected").val();
          const href = "{{url_for('students_bp.student_training', id=user.id) }}?id=" + id + "&first_url={{return_url}}";

          window.location.href = href
     })
     
</script>

{% endblock %}
