{% extends 'admin/model/edit.html' %}

{% block head_css %}

  {{ super() }}
<!--   added by cms.html template -->
  		<link rel="stylesheet" href="{{ url_for('static', filename='ckeditor.css') }}">
		<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/47.6.0/ckeditor5.css" crossorigin>
		<link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5-premium-features/47.6.0/ckeditor5-premium-features.css" crossorigin>
		<script>window.CKEDITOR_LICENSE_KEY = '{{ config.CKEDITOR_LICENSE_KEY }}';</script>
{% endblock %}

{% block body %}
    <h1>Content Edit View</h1>
    {{ super() }}
{% endblock %}