          {% for training in training -%}
      <div class="highlight {{ loop.cycle('evendiv', 'odddiv')}}">
              <div class="row highlight border-bottom border-bottom border-end">
               <div class="col-md-1 pt-0 pb-0 align-self-center">
               
                    <a class="icon-link link-body-emphasis"
                         href="{{url_for('students_bp.deroll', user_id=user.id, training_id=training.id, first_url=return_url)}}"
                         onclick="return safeConfirm('{{_("Are you sure you want to remove user %(email)s from this training?", email=user.email)}}');"
                         > 
                         <i class="fs-5 text-danger bi bi-person-fill-dash"
                              data-toggle="tooltip" data-placement="top" 
                                                            title="{{_('Deroll user from this training.') }}"></i>
                     </a>

               </div>
                  <div class="col-md-2 pt-1 ps-1 pe-0 align-self-center small" style="display:cell;vertical-align:middle">{{ training.name }}</div>
               <div class="col-md-2 pt-1 ps-1 pe-0 align-self-center small">{{ training.trainingtype.name }}<a class="icon-link" 
                    data-bs-toggle="modal" data-bs-target="#modal_{{training.trainingtype.description}}" href="#"><i class="fs-6 bi bi-question"></i></a></div>
               <div class="col-md-3 pt-1 ps-1 pe-0 align-self-center small">{% for event in training.trainingevents %}{{ db_datetime_str(event.start_time) }}<br>{% endfor %}</div>
               <div class="col-md-1 pt-1 ps-1 pe-0 align-self-center small">{{ training.max_participants }}&nbsp;/&nbsp;{{training._amount_enrolled }}&nbsp;/
                                                  {%- if training._amount_enrolled >= training.max_participants %}
                                                       <span class="text-warning">{{ training._amount_enrolled - training.max_participants}}</span>
                                                   {% else %}
                                                       <span class="text-success">0</span>
                                                   {%- endif -%}
                                                   
                                                   </div>
               <div class="col-md-3 pt-1 ps-1 pe-0 align-self-center small">
                                                        {% if training._user_status == 'enrolled' %}
                                                            <span class="fw-bold text-success">{{user.fullname}} {{_('is enrolled') }}</span>
                                                        {% elif training._user_status == 'waitlist' %}
                                                            <span class="fw-bold text-danger">{{user.fullname}} {{_('is on the wait list') }}</span>
                                                        {% elif training._amount_enrolled == training.max_participants %}
                                                            <span class="fw-bold text-success">{{_('Max Capacity') }}</span>
                                                        {% elif training._amount_enrolled > training.max_participants %}
                                                            <span class="fw-bold text-warning">{{_('Training has a wait list') }}</span>
                                                        {% else %}
                                                            <span class="fw-bold text-success">{{_('Open') }}</span>
                                                        {% endif %}
                                                        </div>
          </div>
      </div>
          {% endfor %}
