/* Custom CSS for line with text through */
.div-line {
	position: relative;
	text-align: center;
}

.hr-line {
	position: absolute;
	top: 50%;
	left: 0%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	margin: 0;
 	z-index: 1;
}

.text-line {
	margin: 0;
	background-color: white;
	z-index: 1;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.cell-middel {
	display:cell;
	vertical-align:middle"
}
.f-small {
	font-size: 10px;
}

.dropdown-divider {
	background-color: black;
}

.dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid black;
}

.dropdown-item {
	color: #000000;
}

svg#mailicon:hover {
	stroke: rgba(255, 255, 255, 0.75);
	transition: stroke .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out;
}

svg#mailicon {
	stroke: #9b9d9e;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out;
}

div#practiceheader {
	color: #9b9d9e;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out;
	font-size: 12pt;
	pointer-events:all;
}

div#practiceheader:hover * {
	color: rgba(255, 255, 255, 0.75);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
	border-color: rgba(255, 255, 255, 0.75);
}

select#practice_selector {
	color: #9b9d9e;
}

select#practice_selector:hover {
}

/* Higlighted (hover) result */
.select2-results__option--highlighted { 
	
}
    
Selected option
.select2-results__option[aria-selected=true] { 
	
	}
 
/* Search field */
.select2-search input { 
	font-size: 14px;
}


/* Input field */
.select2-selection__rendered { 
	font-size: 14px;
}
	
/* Input field */
.select2-selection { 
    height: 25px ;
	font-size: 18px;
	line-height: 18px ;
}

/* Around the search field */
.select2-search {  
	font-size: 14px;
}
      
/* Each result */
.select2-results {  
	font-size: 14px;
	
}
    
/* Custom CSS for line with text through */
.div-line {
	position: relative;
	text-align: center;
}

.hr-line {
	position: absolute;
	top: 50%;
	left: 0%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	margin: 0;
 	z-index: 1;
}

.text-line {
	margin: 0;
	background-color: white;
	z-index: 1;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.f-small {
	font-size: 10px;
}

.dropdown-divider {
	background-color: black;
}

.dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid black;
}

.dropdown-item {
	color: #000000;
}

svg#mailicon:hover {
	stroke: rgba(255, 255, 255, 0.75);
	transition: stroke .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out;
}

svg#mailicon {
	stroke: #9b9d9e;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out;
}

div#practiceheader {
	color: #9b9d9e;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out;
	font-size: 12pt;
	pointer-events:all;
}

div#practiceheader:hover * {
	color: rgba(255, 255, 255, 0.75);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
	border-color: rgba(255, 255, 255, 0.75);
}

select#practice_selector {
	color: #9b9d9e;
}

select#practice_selector:hover {
}

/* Higlighted (hover) result */
.select2-results__option--highlighted { 
	
}
    
Selected option
.select2-results__option[aria-selected=true] { 
	
	}
 
/* Search field */
.select2-search input { 
	font-size: 14px;
}


/* Input field */
.select2-selection__rendered { 
	font-size: 14px;
}
	
/* Input field */
.select2-selection { 
    height: 25px ;
	font-size: 18px;
	line-height: 18px ;
}

/* Around the search field */
.select2-search {  
	font-size: 14px;
}
      
/* Each result */
.select2-results {  
	font-size: 14px;
	
}
    
    /* Custom CSS for line with text through */
.div-line {
	position: relative;
	text-align: center;
}

.hr-line {
	position: absolute;
	top: 50%;
	left: 0%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	margin: 0;
 	z-index: 1;
}

.text-line {
	margin: 0;
	background-color: white;
	z-index: 1;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
}

.f-small {
	font-size: 10px;
}

.dropdown-divider {
	background-color: black;
}

.dropdown-menu {
	background-color: #FFFFFF;
	border: 1px solid black;
}

.dropdown-item {
	color: #000000;
}

svg#mailicon:hover {
	stroke: rgba(255, 255, 255, 0.75);
	transition: stroke .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out;
}

svg#mailicon {
	stroke: #9b9d9e;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out;
}

div#practiceheader {
	color: #9b9d9e;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out;
	font-size: 12pt;
	pointer-events:all;
}

div#practiceheader:hover * {
	color: rgba(255, 255, 255, 0.75);
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
	border-color: rgba(255, 255, 255, 0.75);
}

select#practice_selector {
	color: #9b9d9e;
}

select#practice_selector:hover {
}

/* Higlighted (hover) result */
.select2-results__option--highlighted { 
	
}
    
/* Selected option */
.select2-results__option[aria-selected=true] { 
	
	}
 
/* Search field */
.select2-search input { 
	font-size: 14px;
}


/* Input field */
.select2-selection__rendered { 
	font-size: 14px;
}
	
/* Input field */
.select2-selection { 
    height: 25px ;
	font-size: 18px;
	line-height: 18px ;
}

/* Around the search field */
.select2-search {  
	font-size: 14px;

}
      
/* Each result */
.select2-results {  
	font-size: 14px;
	
	
}

.rotated-180 {
      display: inline-block; /* Crucial for transform to work reliably on <i> */
      transform: rotate(180deg);
      transition: transform 0.3s ease-in-out; /* Optional: for smooth animation */
  }


 

.base-row {
      position: relative; /* Or use Bootstrap class */
    }
    
.hover-container {
  display: inline-block; /* Or block, flex, grid, depending on how you want the target/message laid out initially */
  /* Set its dimensions or let it be determined by its content */
}

.hover-container:has(.hover-message:hover) {
	background-color: red;
/* 	background-color: rgb(230, 230, 230);
 */}	

 

.hover-container:has(.hover-message:hover) a.icon-link {
        color: blue; /* Replace with your desired text color */
    }
.hover-message {
  position: absolute; /* Position relative to .hover-container */
  top: 0;
  left: 0;
  width: 100%; /* Fill the .hover-container */
  height: 100%; /* Fill the .hover-container */
  z-index: 20; /* Above the hover-target */
  display: none; /* Hidden by default */
  left: auto; /* Release the left anchor */
  right: 0; /* Anchor to the right edge of the parent */
  /* Style the content inside the message */
  
}

.hover-container:hover .hover-message {
 	display: block; /* Show on hover of the container */
	background-color: rgb(230, 230, 230);
}


/* Or if you only want hover on the target to trigger it */
/*
.hover-target:hover + .hover-message {
    display: inline-block;
}
*/
/* Note: This adjacent sibling selector works if hover-message immediately follows hover-target */
/* And they are both direct children of .hover-container */


.evendiv {background-color: rgb(244, 244, 244);}
.odddiv {background-color: rgb(255, 255, 255);}
.highlight:hover > * {background-color: rgb(230, 230, 230);}

.even_red {background-color: rgb(255, 206, 205);}
.odd_red {background-color: rgb(255, 228, 228);}
.highlight_red:hover > * {background-color: rgb(255, 125, 120);}


.main_div {
      padding-top: 50px; /* Adjust value */
}

:root {
    --ck-z-default: 100;
    --ck-z-panel: calc( var(--ck-z-default) + 999 );
}

