{% extends 'form.html' %}

{% block formheader %}
<div class="modal" data-bs-backdrop="static" data-bs-keyboard="false"  id="EnroleModal" tabindex="-1" aria-labelledby="settingModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="EnroleModalLabel">
               <h3 class="text-center">{{ _('Enroll into ') }} {{training.name}}</h3>
        </h1>
      </div>
      <div class="modal-body">

     <div class="p-2">
     <h4>Event(s):</h6>
          <div class="row ms-2">
          
          <ol>
               {% for event in training.trainingevents %}
               <li>
               <div class="col-md-12 small"><strong>{{_('Start Date/Time')}}:</strong> {{ db_datetime_str(event.start_time) }}</div>
               <div class="col-md-12 small"><strong>{{_('End Date/Time')}}:</strong> {{ db_datetime_str(event.end_time) }}</div>
               <div class="col-md-12 small"><strong>{{_('Location')}}:</strong> {{event.location }}</div>
               </li>
               {% endfor %}
          </ol>
          </div>
{%- if training._spots_enrolled >= training.max_participants %}

     <div class="p-2">
          <div class="row">
          {{ get_tag('ENROLL_TO_TRAINING_WAITLIST') | safe }}
          </div>
     </div>
{% endif %}

     </div>
     
{% endblock %} {% block formfooter %}

               </div>
      <div class="modal-footer flex-nowrap">
<div class="col-7 ps-3">
<a class="icon-link small" onclick="this.blur();" href="#" data-bs-target="#TandCID" data-bs-toggle="modal">{{_('Terms and Conditions') }}</a><br>
<a class="icon-link small" onclick="this.blur();" href="#" data-bs-target="#CancellationPolicyId" data-bs-toggle="modal">{{_('Cancellation Policy') }}</a>
</div>
       <div class="col-5 text-end">
        
        <a onclick="this.blur();" href="{{return_url}}" id="close" type="button" class="btn btn-secondary">{{_('Close')}}</a>
        <button onclick="this.blur();" type="submit" class="btn btn-primary">{{_('Enroll')}}</button>
     </div>
      </div>
    </div>
  </div>
</div>

</form>

<div class="modal modal-dialog-scrollable fade" data-bs-keyboard="false" data-bs-backdrop="static"  id="CancellationPolicyId" aria-hidden="true" aria-labelledby="CancellationPolicyIdLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="CancellationPolicyIdLabel">{{_('Cancellation Policy') }}</h1>

      </div>
      <div class="modal-body">
        {{ get_tag('Cancellation Policy') |safe   }}
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" onclick="this.blur();" data-bs-target="#EnroleModal" data-bs-toggle="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade"  data-bs-keyboard="false" data-bs-backdrop="static" 	id="TandCID" aria-hidden="true" aria-labelledby="TandCIDLabel" tabindex="-1">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="TandCIDLabel">{{_('Terms and Conditions') }}</h1>
      </div>
      <div class="modal-body">
        {{ get_tag('tandc') |safe   }}
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" onclick="this.blur();" data-bs-target="#EnroleModal" data-bs-toggle="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}


<script>

$(window).on('load', function() {
    $('#EnroleModal').modal('show', {keyboard: false});

    const EnroleModal = document.getElementById('EnroleModal')
     EnroleModal.addEventListener('hidePrevented.bs.modal', event => {
    	 $('#EnroleModal').modal('hide');
    	 console.log("{{ return_url }}")

     	 setTimeout(function(){window.location.href = "{{ return_url }}";},2);

    	 //window.location.href = '{{ return_url }}';
    })
    
    const TandcModal = document.getElementById('TandCID')
    TandcModal.addEventListener('hidePrevented.bs.modal', event => {
   	 	console.log('{{ return_url }}');
   	 	$('#TandCID').modal('hide');
   		$('#EnroleModal').modal('show');
   	 //window.location.href = '{{ return_url }}';
   })

   const CancellationPolicyId = document.getElementById('CancellationPolicyId')
   CancellationPolicyId.addEventListener('hidePrevented.bs.modal', event => {
  	 	console.log('{{ return_url }}');
  	 	$('#CancellationPolicyId').modal('hide');
  		$('#EnroleModal').modal('show');
  	 //window.location.href = '{{ return_url }}';
  })

});

</script>
{% endblock %}
