          {% for training in pagination -%}
          {% if training.in_policy.status or admin%}
               <div class="highlight {{ loop.cycle('evendiv', 'odddiv')}} p-0 m-0">

           {%else%}
                <div class="highlight_red  {{ loop.cycle('evendiv', 'odddiv')}} even_red py-0 m-0 " 
                     data-toggle="tooltip" 
                                   data-placement="top" 
                                   data-bs-html="true"
                                   title='{% for error in training.in_policy %}{{error}}{% endfor %}<br>'>
                {% endif %}
     
              <div class="row {% if training.in_policy.status or admin %}highlight{%else%}highlight_red{% endif %} m-0 p-0 ">
               <span class="{{show_mobile}} border-top border-dark-subtle {% if g.is_mobile %}py-1 {%endif%}"></span>
              <div class="col-lg-3  align-self-center">
                             <span class="{{show_mobile}} h1">{{ training.name }} <br></span>
                             <span class="{{hide_mobile}}">{{ training.name }}</span>
               </div>
               
              <div class="col-lg-1 {% if g.is_mobile %}py-3 {%endif%}lh-1 align-self-center">
               {% if training._user_status == 'enrolled' or training._user_status == 'waitlist' or training._user_status == 'waitlist-invited'%}
                    {% if admin %}
                         <a class="icon-link link-body-emphasis"
                              href="{{url_for('students_bp.deroll', user_id=user.id, training_id=training.id, first_url=return_url)}}"
                              onclick="return safeConfirm('{{_("Are you sure you want to remove user %(email)s from this training?", email=user.email)}}');"
                              > 
                              <i class="fs-5 text-danger bi bi-person-fill-dash"
                                   data-toggle="tooltip" data-placement="top" 
                                                                 title="{{_('Deroll user from this training.') }}"></i>
                         <span class="{{show_mobile}} fw-semibold">{{ _(" Remove %(who)s from this training. ", who=who) }}</span>
                          </a>
                          
                    {% else %}
                    <a class="icon-link link-body-emphasis"
                         href="{{url_for('scheduler_bp.deroll', id=training.id)}}"
                    > <i class="mb-2 fs-5 bi-person-fill-dash text-danger" data-toggle="tooltip" 
                         data-placement="top" 
                         title="{{_('Remove %(who)s from this training.', who=who)}}"></i>
                              <span class="{{show_mobile}} fw-semibold">{{ _(" Remove %(who)s from this training. ", who=who) }}</span>
                    </a>
                    {% endif %}
               {%- else -%}
                    {% if not admin %}
                         {% if training._amount_enrolled >= training.max_participants %}
                         <a class="icon-link link-body-emphasis"
                              href="{{url_for("scheduler_bp.enroll", id=training.id)}}"
                         > <i class="mb-2 fs-5 bi bi-person-fill-add text-warning" data-toggle="tooltip" 
                              data-placement="top" 
                              title="{{_('Add %(who)s to the wait list of this training.', who=who)}}"></i>
                                   <span class="{{show_mobile}} fw-semibold">{{ _(" Add %(who)s to the wait list of this training. ", who=who) }}</span>
                         </a>
                         {%- else -%}
                              {% if training.in_policy.status %}
                              <a class="icon-link link-body-emphasis"
                                   href="{{url_for("scheduler_bp.enroll", id=training.id)}}"
                              > <i class="mb-2 fs-5 bi bi-person-fill-add text-success" data-toggle="tooltip" 
                                   data-placement="top" 
                                   title="{{_('Add %(who)s to this training.', who=who)}}"></i>
                                        <span class="{{show_mobile}} fw-semibold">{{ _(" Add %(who)s to this training. ", who=who) }}</span>
                              </a>
                              {% else %}
                              <span class="{{show_mobile}}">{% for error in training.in_policy %}{{error}}{% endfor %}
                                   <i class="mb-2 fs-5 bi bi bi-person-lock text-danger" data-toggle="tooltip" 
                                   data-placement="top" 
                                   data-bs-html="true"
                                   title=''></i></span>
                              <span class="{{hide_mobile}}">
                                   <i class="mb-2 fs-5 bi bi bi-person-lock text-danger" data-toggle="tooltip" 
                                   data-placement="top" 
                                   data-bs-html="true"
                                   title=''></i></span>
                              {% endif %}
                         {%- endif %}   
                    {% endif %}
               {%- endif %}
               </div>
               <div class="col-lg-1  align-self-center text-nowrap px-0">
                              <span class="{{show_mobile}} fw-semibold ">{{_("Training Type")}}: </span>
                              {{ training.traningtype.name }}<a class="icon-link" 
                    data-bs-toggle="modal" data-bs-target="#modal_{{training.traningtype.description}}" href="#"><i class="fs-6 bi bi-question"></i></a></div>
               <div class="col-lg-3  align-self-center small"><span class="{{show_mobile}}">{{_("Date")}}: </span> {% for event in training.trainingevents %}{{ db_datetime_str(event.start_time) }}<br>{% endfor %}</div>
               <div class="col-lg-1  align-self-center {{hide_mobile}}">
                                                  {{ training.max_participants }}/{{training._amount_enrolled -}}/
                                                  {%- if training._amount_enrolled >= training.max_participants -%}
                                                       <span class="text-warning">{{ training._amount_enrolled - training.max_participants}}</span>
                                                   {%- else -%}
                                                       <span class="text-success">0</span>
                                                   {%- endif -%}
                                                   
                                                   </div>
               <div class="col-lg-1  align-self-center {{show_mobile}}">
                                                  {{_("Max participants")}}: {{ training.max_participants }}, 
                                                  {{_("Enrolled")}}: {{training._amount_enrolled }}, {{_("Wait list")}}: 
                                                  {%- if training._amount_enrolled >= training.max_participants %}
                                                       <span class="text-danger fw-bold">{{ training._amount_enrolled - training.max_participants}}</span>
                                                   {% else %}
                                                       <span class="text-success">0</span>
                                                   {%- endif -%}
                                                   
                                                   </div>

               <div class="col-lg-3  align-self-center {% if g.is_mobile %}pb-3 {%endif%}">
                                                  <span class="{{show_mobile}}">{{ _('Enroll Status: ')}}</span>

                                                        {% if training._user_status == 'enrolled' %}
                                                            <span class="fw-bold text-success small">{{_('Enrolled') }}</span>
                                                        {% elif training._user_status == 'waitlist-invited' %}
                                                        
                                                            <span class="fw-bold text-success small">
                                                                    {{_('Invited') }}</span>

                    <a class="link-underline link-underline-opacity-0"
                         href="{{url_for('scheduler_bp.accept_invite', uuid=training._user_enrollment.uuid)}}">

                                                            <span class="fw-bold text-danger small text-nowrap" data-toggle="tooltip" 
                         data-placement="top" 
                         title="{{_('Accept Invite for this training.')}}">

                                                            <span class="fw-bold text-primary text-nowrap">
                                                                    <i class="bi bi-check-circle "></i>
                                                                    {{_('Accept') }}</span>
                                                                    </a>

                    <a class="link-underline link-underline-opacity-0"
                         href="{{url_for('scheduler_bp.deroll', id=training.id)}}">

                                                            <span class="fw-bold text-danger small text-nowrap" data-toggle="tooltip" 
                         data-placement="top" 
                         title="{{_('Remove %(who)s from this training.', who=who)}}">
                                                                    <i class="bi bi-check-circle"></i>
                                                                    {{_('Decline') }}</span>
                                                                    </a>
                                                                    
                                                        {% elif training._user_status == 'waitlist' %}
                                                            <span class="fw-bold text-danger small">{{_('wait list') }}</span>
                                                        {% elif not training.in_policy.status %}
                                                            <span class="">
                                                                 <i class="mb-2 fs-5 bi bi bi-person-lock text-danger" data-toggle="tooltip" 
                                                                 data-placement="top" 
                                                                 data-bs-html="true"
                                                                 title=''></i></span>
                                                        {% elif training._amount_enrolled == training.max_participants %}
                                                            <span class="fw-bold text-success small">{{_('Max Capacity') }}</span>
                                                        {% elif training._amount_enrolled > training.max_participants %}
                                                            <span class="fw-bold text-warning small">{{_('Training has a wait list') }}</span>
                                                        {% else %}
                                                            <span class="fw-bold text-success small">{{_('Open for enrollment.') }}</span>
                                                        {% endif %}
                                                        </div>
          </div>
      </div>
          {% endfor %}
